* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --s0: 0.25rem;
  --s10: 0.5rem;
  --s20: 1rem;
  --s30: 1.25rem;
  --s40: 1.5rem;
  --s50: 2rem;
  --s60: 4rem;
  color-scheme: light dark;
  font-size: clamp(0.75rem, 0.75rem + 0.5vw, 1rem);
}

body {
  line-height: 1.5;
  font-family: system-ui, sans-serif;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: 700;
  line-height: 1.2;
  word-break: break-word;
}

:is(h2, h3, h4, h5, h6) {
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Forces icon links to be same size as icon */
:where(a:has(svg:only-child)) {
  display: inline-grid;
}

img,
iframe,
video {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul:where([class]) {
  list-style: none;
  padding-inline-start: 0;
}

hr {
  border-style: solid;
  color: ButtonFace;
}

.HStack {
  display: flex;
  gap: var(--s20);
}

.Pill {
  max-inline-size: max-content;
  display: inline-flex;
  align-items: center;
  gap: var(--s0);
  border-radius: 8px;
  padding-inline: 0.5em;
  font-weight: 600;
  background-color: ButtonFace;
  color: ButtonText;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.PillLink:hover {
  filter: brightness(90%);
  text-decoration: none;
}

.PillLink[aria-current="page"] {
  background-color: AccentColor;
  color: AccentColorText;
  filter: none;
}

.Gutter {
  padding: clamp(1rem, 1rem + 2vw, 3rem);
}

.md {
  line-height: 1.5;
  word-break: break-word;
}

.md > * + * {
  margin-block-start: var(--space, var(--s20));
}

.md a {
  text-decoration: underline;
  color: LinkText;
}

.md h1 {
  font-size: 1.5rem;
}

.md h2 {
  font-size: 1.25rem;
}

.md h3 {
  font-size: 1rem;
}

.md table {
  border-collapse: collapse;
  border: 1px solid;
}

.md thead {
  background-color: ButtonFace;
}

.md tr:nth-child(even) {
  background-color: ButtonFace;
}

.md td,
.md th {
  padding: var(--s0) var(--s20);
}

.md blockquote,
.md pre {
  border-inline-start: 1px solid;
  margin-inline-start: 0.125rem;
  padding: 0 var(--s10);
  line-height: 1.4;
}

.md pre {
  overflow: auto;
}

.md blockquote > * + * {
  margin-block-start: var(--s10);
}

.md :is(h1, h2, h3, h4, h5, h6) {
  --space: 1.5em;
}

.md ul {
  list-style-type: disc;
}

.md :is(ol, ul, menu, dir) ul {
  list-style-type: circle;
}

.md :is(ol, ul, menu, dir) :is(ol, ul, menu, dir) ul {
  list-style-type: square;
}
