.Post {
  max-inline-size: 48rem;
}

.Post > * + * {
  margin-block-start: var(--s20);
}

.Post h1 {
  margin-block-start: var(--s20);
  font-size: clamp(1rem, 1rem + 1vw, 1.5em);
}

.Markdown {
  font-size: 1.125rem;
}
